/* global.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Estilos para o cabeçalho */
  .cabecalho {
    @apply bg-porto-seguro-blue text-white font-bold px-2 text-center text-4xl;

    & ul {
      @apply flex flex-row justify-between items-center text-lg border border-l-0 border-r-0 border-b-0 py-4;

      & li {
        @apply mx-4;

        & a {
          @apply hover:bg-porto-seguro-amber py-2 px-3 rounded-md transition duration-300 ease-out;
        }

        &:hover {
          @apply text-porto-seguro-amber; /* Destaque visual ao passar o mouse */
        }
      }

      & .login-register {
        @apply flex gap-4 items-center; /* Adiciona um espaçamento entre os botões */
  
        & button {
          @apply bg-white text-porto-seguro-blue px-4 py-2 rounded-md transition duration-300 ease-out;
  
          &:hover {
            @apply bg-porto-seguro-amber text-white; /* Destaque visual ao passar o mouse */
          }
        }
      }
    }
  }

  /* Estilos para o rodapé */
  .rodape {
    @apply bg-gray-200 py-0 text-center absolute bottom-0 w-full; /* Reduzindo a altura do rodapé */
    /* Mantém o rodapé no final da página */

    & div {
      @apply container mx-auto;
    }

    & p {
      @apply font-semibold text-lg mb-2 text-gray-700;
    }

    & ul {
      @apply list-none p-0;

      & li {
        @apply mb-2;
        @apply text-gray-600;

      }
    }
  }

  /* Estilos para a Home Page */
  .Home {
    max-width: 800px;
    padding: 0 20px;
    margin: 0 auto;
  }

  .title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .description {
    color: #4b5563;
    margin-bottom: 2rem;
  }

  .benefitsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
  }

  .benefit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #e2e8f0;
    padding: 20px;
    border-radius: 5px;
    transition: transform 0.3s ease;
  }

  .benefit:hover {
    transform: scale(1.05);
  }

  .benefit h2 {
    color: #1a202c;
    margin-bottom: 0.5rem; /* Espaçamento entre título e descrição */
    text-align: center; /* Centraliza o texto */
  }

  .benefit p {
    color: #4b5563;
    text-align: center; /* Centraliza o texto */
  }

  .bene {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem; /* Espaçamento entre texto e botão */
  }

  .bene a {
    text-decoration: none;
  }

  .bene {
    background-color: #fff;
    color: #1a202c;
    border: 1px solid #e2e8f0;
    padding: 8px 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .bene :hover {
    background-color: #edf2f7;
    color: #000000;
  }
}

.IntegracaoDados {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.1em;
  margin-bottom: 20px;
}

.titulo{
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.IntegracaoDados h1,
.IntegracaoDados h2 {
  font-weight: bold;
  font-size: 1.0em;
  margin-bottom: 20px;
}

.descricao {
  font-size: 1.2em; /* Tamanho aumentado */
  margin-bottom: 20px; /* Espaço adicional no final */
}

.detalhesIntegracaoDados {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.detalhesQuadro {
  width: 45%;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.detalhesQuadro:hover {
  transform: scale(1.05);
}

.quadros {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

.quadro {
  padding: 8px 12px;
  border-radius: 5px;
  margin: 5px 0;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.quadro:hover {
  background-color: #f0f0f0;
}