/* global.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Estilos para o cabeçalho */
  .cabecalho {
    @apply bg-porto-seguro-blue text-white font-bold px-2 text-center text-4xl;

    & ul {
      @apply flex flex-row justify-between items-center text-lg border border-l-0 border-r-0 border-b-0 py-4;

      & li {
        @apply mx-4;

        & a {
          @apply hover:bg-porto-seguro-amber py-2 px-3 rounded-md transition duration-300 ease-out;
        }

        &:hover {
          @apply text-porto-seguro-amber; /* Destaque visual ao passar o mouse */
        }
      }

      & .login-register {
        @apply flex gap-4 items-center; /* Adiciona um espaçamento entre os botões */
  
        & button {
          @apply bg-white text-porto-seguro-blue px-4 py-2 rounded-md transition duration-300 ease-out;
  
          &:hover {
            @apply bg-porto-seguro-amber text-white; /* Destaque visual ao passar o mouse */
          }
        }
      }
    }
  }

  /* Estilos para o rodapé */
  .rodape {
    @apply bg-gray-200 py-6 text-center absolute bottom-0 w-full;
    /* Mantém o rodapé no final da página */

    & div {
      @apply container mx-auto;
    }

    & p {
      @apply font-semibold text-lg mb-4 text-gray-700;
    }

    & ul {
      @apply list-none p-0;

      & li {
        @apply mb-3;
        @apply text-gray-600;

        &::before {
          content: "•"; /* Adiciona um ponto para cada item */
          margin-right: 8px; /* Espaçamento entre o ponto e o texto */
          color: #ffcc00; /* Cor amarela para o ponto */
        }
      }
    }
  }
}
